<div class="home-intro">
    <div class="jumbo">Welcome to Citizenry! </div>
    <div class="home-sub-text"> <h3>
        We are a not-for-profit that builds "essential Internet services" that are Democratically moderated and managed by members.
        </h3> 
        <form method="post" action="https://lists.citizenry.technology/subscription/form" class="listmonk-form">
<hr size="8" width="90%">  
    <div>
        <h3>Subscribe to Newsletter</h3>
        <input type="hidden" name="nonce" />
        <p>Email:<input type="email" name="email" required placeholder="E-mail" /></p>
        <p>Name: <input type="text" name="name" placeholder="Name (optional)" /></p>
      
        <p>
          <input id="59a03" type="checkbox" name="l" checked value="59a03fca-53b5-4011-8927-9383b1224329" />
          <label for="59a03">Citizenry Beta</label><br /><span>Signup to be notified of Citizenry Technologies Beta Services.</span>
        </p>

        <p><input type="submit" value="Subscribe" /></p>
    </div>
</form>

<hr size="8" width="90%">  

        <h2 id="overview">OVERVIEW</h2>
<p>Citizenry allows for the citizenship of “users” regardless of physical location. With the shift of people online connected all the time to devices, it is time to reassess how all the related data and moderation are managed. Citizenry is a Democracy of member users utilizing the services they want and need. The traditional model of raising many millions from Venture Capitalists to build for-profit social platforms is fundamentally flawed. This leads to over-centralization of control, features, and moderation. Along with the privacy and security issues of being a part of the surveillance economy. </p>
<h2 id="users-have-the">CITIZENRY RIGHTS:</h2>
<ul>
<li><strong>Right to Privacy</strong> - users should not have to give up privacy for services</li>
<li><strong>Right to Leave</strong> - users should be able to take their data, followers, and other meta-data to another provider easily</li>
<li><strong>Right to Security</strong> - data should be encrypted and systems monitored and secured continuously by professionals</li>
<li><strong>Right to Access</strong> - users should be able to access their data from anywhere securely</li>
</ul>

<p><h2>CURRENT SERVICES:</h2></p>
<p><a href="https://citizenry.social" target="_blank">Citizenry.Social</a> - Mastodon instance welcome to everyone</p>
<p><a href="https://masto.la" target="_blank">Masto.LA</a> - Mastodon instance for Los Angeles but all are welcome</p>

<p><h2>TEAM:</h2></p>
<a rel="me" href="https://citizenry.social/@jascha">Jascha Wanger - Founder</a><br>
<i>We're looking for additional volunteers to contribute to Citizenry. Please use email below to contact us.</i>

<p align="center">CONTACT US:<a href="mailto:hello@citizenry.technology"> hello@citizenry.technology</a></p>
</div> </div>


