<div class="home-intro">
    <div class="jumbo">Welcome to Citizenry! </div>
    <div class="home-sub-text"> <h3>
        We are a not-for-profit that builds "essential Internet services" that are Democratically moderated and managed by members. More details and signup coming soon.
        </h3> 
        <h2 id="overview">OVERVIEW</h2>
<p>We live in a world where hosting and storage are easily accessible. But the skills to set up, maintain, and manage massively scalable infrastructure is hard to find. </p>
<p>Citizenry allows for the citizenship of “users” regardless of physical location. With the shift of people online connected all the time to devices, it is time to reassess how all the related data and moderation are managed. Citizenry is a Democracy of member users utilizing the services they want and need. The traditional model of a tech bro raising many millions from Venture Capitalists to build for-profit social platforms is fundamentally flawed. This leads to over-centralization of control, features, and moderation. Along with the privacy and security issues of being a part of the surveillance economy. </p>
<h2 id="users-have-the">USER RIGHTS:</h2>
<ul>
<li><strong>Right to Privacy</strong> - users should not have to give up privacy for services</li>
<li><strong>Right to Leave</strong> - users should be able to take their data, followers, and other meta-data to another provider easily</li>
<li><strong>Right to Security</strong> - data should be encrypted and systems monitored and secured continuously by professionals</li>
<li><strong>Right to Access</strong> - users should be able to access their data from anywhere securely</li>
</ul>
<p><a href="mailto:hello@citizenry.technology">hello@citizenry.technology</a></p>
</div> </div>


